*{
    margin:0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

body{
   background: #2C2F33;
   overflow-x: hidden;

}

.navit-links{
    display: inline-block;
    margin-left: 30px;
    transform: translateY(-40px);
    color: white;
    text-decoration: none;
   
}

header{
    background: black;
    opacity: 0.50;
    height: 14vh;
}


.p-p{
    display: inline-block;
    margin-left: 77%;
}

.p-p:hover{
    color: rgb(0, 68, 255);
}

.Back-nav{
    background: url(images/How_to_create_Christmas_Decoration1.jpg);
    box-shadow: 5px 4px 10px 0 black;
    height: 60vh;
    width: 100vw;
}

img{
width: 70px;
height: 70px;
padding-top: 15px;
margin-left: 30px;
transform: translateY(-10px);
}

.sublime{
    color: royalblue;
}

.logoprip{

    display:block;
    margin:auto;
    width: 350px;
    height: 350px;
    /* border-radius: 50%; */
    transform: translateY(-190px);
}

.Info{
    color: white;
    font-weight: 100;
    display: inline-block;
    margin-left: 600px;
    transform: rotate(90deg);
    position: relative;
    top: 97px;
}

.hr-1{
    border: 2px solid white;
    border-radius: 10px;
    transform: rotate(90deg);
    width: 230px;
    margin: auto;
    position: relative;
    top: 250px;
    
}

.botimg{
    width: 200px;
    height: 300px;
    margin-left: 900px;
    box-shadow: 0px 0px 10px 0;
    border-radius: 10px;
    position:relative;
    top: 70px;
    transition: width 0.5s linear, height 0.5s linear;
}
.botimg:hover
{
    width: 220px;
    height: 330px;
}

.title-bot{
    color: white;
   position:relative;
   bottom: 230px;
   margin-left: 120px;
}



.p-bot{
    color: white;
    margin-left: 120px;
    position: relative;
    bottom: 210px;
}

.hr-2{
    border: 2px solid white;
    border-radius: 10px;
    transform: rotate(90deg);
    width: 230px;
    margin: auto;
    position: relative;
    top: 250px;
}

.Invite{
    color: white;
    display: inline-block;
    margin-left: 585px;
    transform: rotate(90deg);
    position: relative;
    top: 80px;
    font-weight: 100;
}

.invite-link{
    margin-left: 100px;
    display: inline-block;
    background: #5865F2;
    width: 10vw;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: 120px;
    transition: background 1s linear;

}

.invite-link:hover{
    background: #2f3683;
}

.discord-au{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 40px;

}

.h2-invite{
    color: white;
    margin-left: 90px;
    font-size: 60px;
    position: relative;
    top: 90px;
    font-weight: 100;
}

.note{
    color: #fff;
    margin-left: 800px;
    position: relative;
    bottom: 70px;

}


.pro{

    position: relative;
    top: 30px;
    left: 30px;
    width: 320px;
    height: 180px;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 black;
    transition: width 0.5s linear, height 0.5s linear;
}
.pro:hover
{
    width: 340px;
    height: 200px;
}

footer{
    color: #fff;
    margin-left: 550px;
    position: relative;
    top: 150px;
    opacity: 0.5;
    transform: translateY(-20px);
}

.translateY{
    transform: translateY(-250px);
}

.git{
    width: 40px;
    height: 40px;
    transition: filter 1s linear;
}

.chanel{
    width: 40px;
    height: 40px;
    transition: filter 1s linear;
}
.git:hover{
    filter: blur(1.5px);
}

.chanel:hover{
    filter: blur(1.5px);
}